*{
    text-align: center;
    background-color: #5ca1d7;
    font-weight: bold;
    padding: 5px;
}

body ol{
    width: 100%;
}

ol.myUL{
    width: 350px;
    display: table;
    margin: auto;
}

li{
    text-align: left;
}

body img{
    width: 10%;
}

.title{
    width: 300px;
    padding: 10px;
    margin: auto;
    color: white;
    font-size: 40px;
}
.white{
    width: 300px;
    margin: auto;
    color: white;
    font-size: 20px;
}

.quote{
    width: 300px;
    margin: auto;
    color: white;
    font-size: 30px;
}

.tag{
    width: 300px;
    margin: auto;
    color: black;
    font-size: 15px;
    padding: 5;
}

